UPDATE [t26_arearesultado] SET nu_ordem = 3 where t26_cd_arearesultado = 1
UPDATE [t26_arearesultado] SET nu_ordem = 4 where t26_cd_arearesultado = 2
UPDATE [t26_arearesultado] SET nu_ordem = 1 where t26_cd_arearesultado = 3
UPDATE [t26_arearesultado] SET nu_ordem = 2 where t26_cd_arearesultado = 4
UPDATE [t26_arearesultado] SET nu_ordem = 5 where t26_cd_arearesultado = 5
UPDATE [t26_arearesultado] SET nu_ordem = 6 where t26_cd_arearesultado = 6
UPDATE [t26_arearesultado] SET nu_ordem = 7 where t26_cd_arearesultado = 7
UPDATE [t26_arearesultado] SET nu_ordem = 8 where t26_cd_arearesultado = 8
UPDATE [t26_arearesultado] SET nu_ordem = 9 where t26_cd_arearesultado = 9
UPDATE [t26_arearesultado] SET nu_ordem = 10 where t26_cd_arearesultado = 10
UPDATE [t26_arearesultado] SET nu_ordem = 11 where t26_cd_arearesultado = 11
UPDATE [t26_arearesultado] SET nu_ordem = 12 where t26_cd_arearesultado = 12
